
  .w3-row-padding, .w3-row-padding>.w3-half, .w3-row-padding>.w3-third, .w3-row-padding>.w3-twothird, .w3-row-padding>.w3-threequarter, .w3-row-padding>.w3-quarter, .w3-row-padding>.w3-col {
    padding: 0 8px;
    height: 500px;
}

img {
	height: 300px;
}

.w3-quarter:hover {
    transform: scale(1.1);
    transition: .5s;
}

.w3-row-padding {
	cursor: pointer;
}
